= render "shared/header"

%main.content
  .content__inner
    = form_with(model: @rate,url: alarms_path, data: { remote: false }) do |f|
      .form-box
        %h2.form_box__title
          今日の記録
        .form_box__rate
          .form_box__rate__feel-title
            起きたときの気分
          .form_box__rate__input
            - Rate.feels.each do | feel |
              = f.label feel[0],class: ".form_box__rate__input__label"
              = f.radio_button :feel, feel[0]
        .form_box__rate
          .form_box__rate__sleep-title
            睡眠の質
          .form_box__rate__input
            - Rate.sleeps.each do | sleep |
              = f.label sleep[0],class: ".form_box__rate__input__label"
              = f.radio_button :sleep, sleep[0]
        .form_box__rate
          .form_box__rate__awake-title
            目覚めたとき
          .form_box__rate__input
            - Rate.awakes.each do | awake |
              = f.label awake[0],class: ".form_box__rate__input__label"
              = f.radio_button :awake, awake[0]
        .form_box__rate
          .form_box__rate__tried-title
            疲れが取れた
          .form_box__rate__input
            - Rate.tireds.each do | tired |
              = f.label tired[0],class: ".form_box__rate__input__label"
              = f.radio_button :tired, tired[0]
        .form_box__rate
          .form_box__rate__body-title
            身体の重さ
          .form_box__rate__input
            - Rate.bodies.each do | body |
              = f.label body[0],class: ".form_box__rate__input__label"
              = f.radio_button :body, body[0]
        .form_box__rate
          .form_box__memo-title
            メモ
          .form_box__memo__input
          = f.text_area :memo, placeholder: "気になったことを記入してください" ,class: "input-memo"
        .form_box__rate__submit
          = f.submit "保存する",type: 'button', onclick: 'submit();'